<h2>
	Notes to my future self on what to add/improve on:
</h2>
<ul>
	<li>Clean up code and make .css consistent.</li>
	<li>Make icons for the links in the footer.</li>
	<li>Add page transition animations.</li>
	<li>Improve upon the image carousel system, make it prettier.</li>
	<li>Add captions to the images in the carousel. MAYBE tooltip from Angular Materials?</li>
	<li>Use Angular Materials' Card to improve the structure of the website. Make it resemble a Carrd.</li>
	<li>Add additional images, pagedolls maybe?</li>
	<li>Have some kind of music player in the background?</li>
</ul>
<br>
<h2>
	More challenging things:
</h2>
<ul>
	<li>Make a form to potential clients to connect through email. Maybe have their information sent to a spreadsheet as well.</li>
	<li>Have a way to show potential options of commission options based on a given price range.</li>
	<li>An actual gallery rather than a carousel.</li>
	<li>Options to toggle bewteen the two maybe.</li>
	<li>A light and dark mode to make it easy on the eyes.</li>
</ul>
