<div class="tos-box">
	<h1>Terms of Service</h1>
	<h4>Mini TOS</h4>
	<ul>
		<li>If there is any delay, you will be notified as soon as possible</li>
		<li>I will not work on the piece until payment is received.</li>
		<li>I reserve the right to decline a request for any reason</li>
		<li>When crediting, please use my <a href="https://www.instagram.com/kzryail/" target="_blank">Instagram</a> or <a href="https://toyhou.se/kzryail" target="_blank">ToyHouse</a></li>
		<li>Full Terms of Service still applies, this is just the short and sweet version.</li>
	</ul>
	<hr class="dotted">
	<h2>Payment</h2>
		<!-- Content for Payment -->
		<ul>
			<li>All prices are listed in USD.</li>
			<li>The following methods of payment are accepted.
			<ul>
				<li>Venmo</li>
				<li>Cashapp</li>
				<li>Paypal (Not Preferred)</li>
				<li>Cash (in person only)</li>
			</ul>
			</li>
			<li>Other methods may be avaliable, please check with me!</li>
		</ul>
		<b>All payment is taken upfront!</b> I will also take 50% upfront and 50% after sketch. I will not start working on a commission until some sort of payment has been made.
		
	<h2>Process</h2>
	<ul>
		<li>Please see each style for Work in Progress (WIP) update options. Unless said otherwise, WIPs are offered.</li>
		<li>Before the coloring process (if coloring is applicable), edits to the lineart can be made. After that, no further edits can be made.</li>
		<li><b>Two weeks tops</b> is the turnaround time.</li>
		<li>If there's any delay, you'll be notified as soon as possible.</li>
	</ul>

	
	<h2>Customer Satisfaction</h2>
		<!-- Content for Customer Satisfaction -->
		<ul>
			<li>After a commission is finished, only small changes are allowed to be made such as color changes or small edits.</li>
			<li>Any great changes will come with extra charge, since it will require me to redraw things completely.</li>
			<li>See PROCESS for edits throughout the commission process.</li>
		</ul>

	<h2>Copyright & Usage</h2>
		<!-- Content for Copyright and Useage -->
		<em>I, the artist, hold every right to the <u>produced artwork</u>, not the commissioner.</em>
		<br>
		Therefore I'm allowed to use the copyrighted artwork to:
		<ul>
			<li>Promote myself with it in any place or site.</li>
			<li>To display it anywhere to my liking.</li>
			<li>Post it wherever I want.</li>
		</ul>

		The commissioner is allowed to:
		<ul>
			<li>Use the copyrighted artwork for personal use (not making money off of it).</li>
			<li>Claim the right of their character(s) but not the drawing itself.</li>
			<li>Use the art to promote themselves with proper credit given to the artist.</li>
		</ul>

		<em>If infringement of copyright occurs in any way, every right you have had to the artwork will be withdrawn.
		</em>
		<br>
		The following is considered copyright infringement:
		<ul>
			<li>Reproducing/using the copyrighted artwork commercially (making money off of it in any way) without the artist's knowledge.</li>
			<li>Taking credit for the creation of the artwork.</li>
			<li>Removing any watermarks/signatures.</li>
			<li>Altering the artwork without the artist's consent.</li>
		</ul>
		If planning to use the artwork commercially, please let me know and commercial prices can be arranged.
		<br><br>
		* I don't think this is an official copyright infringement, but <b>I do not consent my pieces being fed into an AI machine</b>.

	
		<h2>Cancelling & Refunding</h2>
		<ul>
			<li>Once the commission has been completed, there are no refunds.</li>
			<li>If I have to cancel the commission, the commissioner will get their payment back in full.</li>
			<li>If the commissioner cancels the commission midway through, half of the agreed upon value will be kept with the artist.</li>
			<li>If the commission is canceled before it is started, no charges will be made (or if the payment has already been made, it shall be returned in full).</li>
		</ul>
</div>

