<div class="everything">
	<header>
		<div class="welcome">
			<h1>Rei's Commissions Page</h1>
		</div>
		<nav>
			<a routerLink="/home">Home</a>
			<a routerLink="/tos">Terms of Service</a>
			<a routerLink="/examples-pricing">Examples & Pricing</a>
			<a routerLink="/to-implement">Δ</a>
		</nav>
	</header>
	<body>
		<router-outlet></router-outlet>
	</body>
	<footer>
		<div class ="bottom">
			<p>Contact me on...</p>
			<nav>
				<a href="https://www.instagram.com/kzryail/" target="_blank">
					<img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-512.png" alt="Instagram Icon" width="50" height="50">
				</a>
				<a href="https://toyhou.se/kzryail" target="_blank">
					<img src="https://i.pinimg.com/originals/f2/92/b9/f292b98d4f29423872b680b086f7b35d.png" alt="Toyhouse Icon" width="50" height="50">
				</a>
				<a href="kzrymili@gmail.com" target="_blank">
					<img src="https://cdn-icons-png.flaticon.com/512/542/542689.png" alt="Email Icon" width="50" height="50">
				</a>
			</nav>
		</div>
	</footer>
</div>
