/* You can add global styles to this file, and also import other style files */
.the-actual-body {
    font-family: cursive;
	margin: 0px;
	background-image: linear-gradient(black, teal) ;
	min-height: 100%;
    display: flex;
    flex-direction: column;
	background-attachment: fixed;
}

body{
	background-color: #000000;
}